@mixin bgImage {
	background-image: var(--bgimage);
	background-repeat: no-repeat;
}

@mixin moon {
	background-image: var(--icon);
	background-repeat: no-repeat;
}
@mixin sun {
	background-image: var(--icon);
	background-repeat: no-repeat;
}

@mixin input {
	display: flex;
	align-content: center;
	width: 63px;

	input[type="radio"] {
		appearance: none;
	}
	label {
		height: 20px;
		width: 20px;
		border: 1px solid var(--textColor);
		position: absolute;
		border-radius: 50%;
		top: 30%;
		left: 30%;
		@include check;
	}
	label:hover {
		cursor: pointer;
	}
}
@mixin check {
	background-image: url("../images/icon-check.svg");
	background-repeat: no-repeat;
	position: absolute;
}

@mixin div {
	display: flex;
	color: whitesmoke;
	align-content: center;
	background-color: var(--createToDo);
	border-radius: 5px;
	height: 55px;
}

@mixin flexWrap {
	height: 30px;

	p {
		margin: 7px;
		font-size: 0.7em;
	}
}

.light {
	--black: black;
	--textColor: var(--black);
	--bodyBackground: hsl(0, 0%, 98%);
	--createToDo: hsl(0, 0%, 98%);
	--icon: url("../images/icon-moon.svg");
	--bgimage: url("../images/bg-desktop-light.jpg");
	--borderColor: var(--black);
	--xIcon: url("../images/icon-cross.svg");
	--checkIcon: url("../images/icon-check.svg");
}

.dark {
	--bodyBackground: hsl(235, 21%, 11%);
	--createToDo: hsl(235, 24%, 19%);
	--textColor: white;
	--icon: url("../images/icon-sun.svg");
	--bgimage: url("../images/bg-desktop-dark.jpg");
	--borderColor: var(--textColor);
	--linear: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	--xIcon: url("../images/icon-cross.svg");
	--checkIcon: url("../images/icon-check.svg");
	// --radial: radial-gradient(
	// 	circle at 100%,
	// 	hsl(192, 100%, 67%),
	// 	hsl(280, 87%, 65%) 30%
	// );
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	@include bgImage;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	text-align: center;
	background-color: var(--bodyBackground);
	color: var(--textColor);
	transition: background 800ms ease-in-out, color 1200ms ease-in;
}

.container {
	position: relative;
	width: 540px;
	left: 447px;
	top: 72px;

	.firstContainer {
		height: 150px;

		.pi {
			display: flex;
			height: 84px;

			.p {
				width: 98%;

				p {
					color: white;
					position: absolute;
					font-size: 2.5em;
					top: -40px;
				}
			}

			.l {
				position: absolute;
				right: 0px;
				top: 5px;
				height: 30px;
				width: 30px;
				#logo {
					height: 100%;
					width: 30px;
					display: block;
					@include sun;
					@include moon;
					background-size: 30px 30px;
					text-indent: -9999px;
				}
			}
		}

		.top {
			@include div;

			.todoItem {
				position: relative;
				width: 100%;

				.button {
					height: 100%;
					width: 40px;
					position: absolute;
					button {
						position: absolute;
						height: 22px;
						width: 22px;
						left: 10px;
						top: 25%;
						border-radius: 50%;
						background-color: var(--createToDo);
						&:hover {
							background-image: var(--linear);
							cursor: pointer;
						}
					}

					#submit {
					}
				}

				.textEntry {
					width: 90%;
					height: 95%;
					position: absolute;
					left: 8%;
					display: flex;
					input {
						height: 60%;
						top: 10px;
						width: 100%;
						position: absolute;
						background-color: var(--createToDo);
						border-color: var(--createToDo);
						border-style: none;
						color: var(--textColor);
					}
				}
			}
		}
	}

	.secondContainer {
		height: 340px;
		position: relative;
		top: 30px;
		color: var(--textColor);
		overflow-y: auto;

		.fixer {
			top: 300px;

			.bottomDiv {
				@include div;
				height: 40px;
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				position: relative;
				color: var(--textColor);

				.counter {
					@include flexWrap;
					position: absolute;
					left: 30px;
					bottom: 0px;
				}
				.state {
					display: inline-flex;
					@include flexWrap;
					position: absolute;
					right: 40%;
					bottom: 0px;
				}
				.clear {
					@include flexWrap;
					position: absolute;
					right: 25px;
					bottom: 0px;
				}
			}
		}

		.topTwo {
			@include div;
			border-bottom: 1px solid gray;
			border-bottom-style: inset;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			position: relative;

			.iconOne {
				.line {
					position: absolute;
					height: 22px;
					width: 22px;
					left: 10px;
					top: 25%;
					// background-image: var(--linear);
					border-radius: 50%;
					border: 1px solid gray;
					&:hover {
						cursor: pointer;
					}

					#check {
						height: 100%;
						width: 30px;
						display: block;
						background: var(--checkIcon);
						background-repeat: no-repeat;
						background-size: 10px 10px;
						position: absolute;
						top: 6px;
						left: 6px;
					}
				}
			}

			.content {
				width: 83%;
				height: 95%;
				position: absolute;
				left: 38px;
				display: flex;
			}

			.icon {
				position: absolute;
				height: 50%;
				width: 25px;
				right: 20px;
				top: 35%;

				#xlogo {
					height: 100%;
					width: 20px;
					display: block;
					background: var(--xIcon);
					background-repeat: no-repeat;
					background-size: 18px 18px;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
	.drag {
		position: relative;
		top: 40px;
	}
}

footer {
	position: absolute;
	bottom: 0px;

	.attribution {
		a {
			text-decoration: wavy;
			color: goldenrod;
		}
	}
}
