@mixin bgImage {
	background-image: url("../images/bg-desktop-dark.jpg");
	background-repeat: no-repeat;
}

body {
	margin: 0;
	padding: 0;
	@include bgImage;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
}
