.light {
  --black: black;
  --textColor: var(--black);
  --bodyBackground: hsl(0, 0%, 98%);
  --createToDo: hsl(0, 0%, 98%);
  --icon: url("../images/icon-moon.svg");
  --bgimage: url("../images/bg-desktop-light.jpg");
  --borderColor: var(--black);
}

.dark {
  --bodyBackground: hsl(235, 21%, 11%);
  --createToDo: hsl(235, 24%, 19%);
  --textColor: white;
  --icon: url("../images/icon-sun.svg");
  --bgimage: url("../images/bg-desktop-dark.jpg");
  --borderColor: var(--textColor);
  --linear: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: var(--bgimage);
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: var(--bodyBackground);
  color: var(--textColor);
  -webkit-transition: background 800ms ease-in-out, color 1200ms ease-in;
  transition: background 800ms ease-in-out, color 1200ms ease-in;
}

.container {
  position: relative;
  width: 540px;
  left: 447px;
  top: 72px;
}

.container .firstContainer {
  height: 150px;
}

.container .firstContainer .pi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 84px;
}

.container .firstContainer .pi .p {
  width: 98%;
}

.container .firstContainer .pi .p p {
  color: white;
  position: absolute;
  font-size: 2.5em;
  top: -40px;
}

.container .firstContainer .pi .l {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 30px;
  width: 30px;
}

.container .firstContainer .pi .l #logo {
  height: 100%;
  width: 30px;
  display: block;
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  text-indent: -9999px;
}

.container .firstContainer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: whitesmoke;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--createToDo);
  border-radius: 5px;
  height: 55px;
}

.container .firstContainer .top .button {
  width: 40px;
  position: relative;
}

.container .firstContainer .top .button a {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 25%;
}

.container .firstContainer .top .button a:hover {
  cursor: pointer;
}

.container .firstContainer .top .button a::before {
  content: "";
  border: 1px solid whitesmoke;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.container .firstContainer .top .textEntry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container .firstContainer .top .textEntry input {
  width: 98%;
  height: 50%;
  position: absolute;
  top: 25%;
  background-color: var(--createToDo);
  border-color: var(--createToDo);
  border-style: none;
  color: var(--textColor);
}

.container .secondContainer {
  height: 350px;
  position: relative;
  top: 30px;
  color: var(--textColor);
}

.container .secondContainer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: whitesmoke;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--createToDo);
  border-radius: 5px;
  height: 55px;
  border-bottom: 1px solid var(--textColor);
  border-bottom-style: inset;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.container .secondContainer .top .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 63px;
}

.container .secondContainer .top .input input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container .secondContainer .top .input label {
  height: 20px;
  width: 20px;
  border: 1px solid var(--textColor);
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 30%;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.container .secondContainer .top .input label:hover {
  cursor: pointer;
}

.container .secondContainer .bottomDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: whitesmoke;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--createToDo);
  border-radius: 5px;
  height: 55px;
  height: 40px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
  color: var(--textColor);
}

.container .secondContainer .bottomDiv .counter {
  height: 30px;
  position: absolute;
  left: 30px;
  bottom: 0px;
}

.container .secondContainer .bottomDiv .counter p {
  margin: 7px;
  font-size: 0.7em;
}

.container .secondContainer .bottomDiv .state {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  position: absolute;
  right: 40%;
  bottom: 0px;
}

.container .secondContainer .bottomDiv .state p {
  margin: 7px;
  font-size: 0.7em;
}

.container .secondContainer .bottomDiv .clear {
  height: 30px;
  position: absolute;
  right: 25px;
  bottom: 0px;
}

.container .secondContainer .bottomDiv .clear p {
  margin: 7px;
  font-size: 0.7em;
}

footer {
  position: absolute;
  bottom: 0px;
}

footer .attribution a {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  color: goldenrod;
}
/*# sourceMappingURL=styler.css.map */